
<div class="container">
  <div class="d-flex justify-content-between">
    <h1>My lists</h1>
    <%= link_to "Add new list", new_list_path, class: "btn btn-success mt-4" %>
  </div>

  <div class="row row-cols-2">
    <% @lists.each do |list| %>
    <div class="col">
      <div class="list-card m-4">
        <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, alt: list.name %>
        <% else %>
          <%= image_tag list_cover_image(list), class: "list-card-img"%>
        <% end %>
        <div class="list-card-overlay">
          <h5 class="list-card-name"><%= link_to list.name, list_path(list), class: "list-link" %></h5>
          <h5 class="list-card-name">(<%= list.movies.count %>)</h5>
        </div>
      </div>
    </div>
  <% end %>
  </div>

</div>
