<div class="container bg-secondary mx-auto p-4">
  <h1>Bookmark a new movie</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
<div class="d-flex justify-content-end m-4">
  <%= link_to "Back to list", list_path(@list), class: "btn btn-info" %>
</div>

</div>
